button,
.button {
  padding: 5px 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color__navbar-text);
  background: transparent;

  background-image: linear-gradient(90deg, var(--c4), var(--c2), var(--c4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  border: none;
  border-radius: 0;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    var(--c7),
    var(--c1),
    var(--c7)
  );

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button.btn-selected,
button:hover,
.button:hover {
  background-image: linear-gradient(90deg, var(--c4), var(--c1), var(--c4));
  text-decoration: none;
}

button:active,
.button:active {
  transform: scale(0.93);
}
