button,
.button {
  padding: 5px 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color__navbar-text);
  background: transparent;

  border: none;
  border-radius: 0;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, black, red, black);

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button.btn-selected,
button:hover,
.button:hover {
  background-position: right center;
  color: var(--color__navbar-text--hover);
  text-decoration: none;
}

button:active,
.button:active {
  transform: scale(0.93);
}
