section {
  background-color: var(--color__section);
  height: 841px;
  width: 1189px;
  margin: 15px auto;
  padding: 50px;
}

@media print {
  section {
    margin: 0 0 0 0;
  }
}

.section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.section__grid--3-colums {
  grid-template-columns: 1fr 1fr 1fr;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
