section {
  background-color: var(--color__section);
  height: var(--size__section-height);
  width: var(--size__section-width);
  margin: 15px auto;
  padding: 50px;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media print {
  section {
    margin: 0 0 0 0;
  }
}

.section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.section__grid--3-colums {
  grid-template-columns: 1fr 1fr 1fr;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
