.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: 1000;

  --size: var(--size);
  --negative-size: calc(var(--size) * -1);
  box-shadow: 0 0 7px 7px var(--c1);
}

.sidebar--left {
  left: 0;
}

.sidebar--right {
  right: 0;
}
