* {
  /* size */
  --size__navbar-height: 70px;

  /* color */
  --c1: #ff0546;
  --c2: #9c173b;
  --c3: #660f31;
  --c4: #450327;
  --c5: #270022;
  --c6: #17001d;
  --c7: #09010d;

  --color__background: var(--c7);
  --color__section: white;
  --color__text: var(--c7);
  --color__text--contrast: white;

  --color__navbar-text: var(--c2);
  --color__navbar-text--hover: var(--c1);

  --color__navbar-button-border: var(--c6);
  --color__navbar-button-1: var(--c4);
  --color__navbar-button-2: var(--c7);
}
