@import "./styles/meta/_import.css";
@import "./styles/basics/_import.css";
@import "./styles/navbar/navbar.css";
@import "./styles/playbooks/_import.css";
@import "./styles/karten.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  background-color: var(--color__background);
  color: var(--color__text);
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none;
}
