@import "./styles/_fonts.css";
@import "./styles/_variables.css";
@import "./styles/headlines.css";
@import "./styles/card.css";
@import "./styles/section.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

body {
  background-color: var(--color__body-background);
  min-height: 100%;
  min-width: 100%;
}
