h1 {
  color: white;
  background-color: rgb(71, 71, 71);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 5px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 i {
  padding: 0 20px;
  font-size: 12px;
}

label {
  width: 100%;
  font-size: 10px;
  padding: 0 5px;
}

input {
  width: 100%;
  min-height: 30px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 10px;
}

input[type=text] {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.input__value {
  width: var(--size__value);
}

input[type=checkbox],
input[type=radio] {
  min-height: unset;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  margin: 0 2px;
  padding: 0;
}

.description {
  margin-bottom: var(--gap__medium);
}

.basics {
  --label-size: 15%;
  display: flex;
  flex-direction: column;
  gap: var(--gap__small);
}
.basics__name {
  display: grid;
  grid-template-columns: var(--label-size) 1fr;
  gap: var(--gap__small) var(--gap__big);
}
.basics__bottom {
  display: grid;
  grid-template-columns: var(--label-size) 1fr 1fr;
  gap: var(--gap__small) var(--gap__big);
  align-items: center;
}
.basics input {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  box-shadow: none;
}

.attribute {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap__small) 20px;
}
.attribute div {
  display: grid;
  grid-template-columns: 1fr var(--size__value);
  align-items: center;
}

.talente {
  display: flex;
  flex-direction: column;
  gap: var(--gap__medium);
}
.talente__talent {
  display: flex;
  gap: 10px var(--gap__medium);
}

.ausruestung {
  display: flex;
  flex-direction: column;
  gap: var(--gap__medium);
}
.ausruestung__gepaeck {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ausruestung__gepaeck input {
  margin-left: 50px;
}
.ausruestung__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap__small) var(--gap__big);
}
.ausruestung__items div {
  display: grid;
  grid-template-columns: 1fr var(--size__value);
  gap: var(--gap__small);
}
.ausruestung__vorraete {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap__big);
  align-items: center;
}
.ausruestung__vorraete div {
  display: flex;
}

.zustand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.zustand label {
  margin-bottom: -5px;
}
.zustand div {
  display: flex;
  justify-content: center;
}

* {
  --color__text: rgb(0, 0, 0);
  --color__background: white;
  --size__value: 60px;
  --gap__small: 5px;
  --gap__medium: 15px;
  --gap__big: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color__text);
  scroll-behavior: smooth;
  background-color: grey;
  font-size: 15px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 1189px;
  height: 841px;
  margin: 0 auto;
  padding: 50px;
  background-color: var(--color__background);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap__big);
}

section {
  max-width: 100%;
  margin-bottom: var(--gap__big);
}

.invisible {
  display: none;
}

.text-center {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
