* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(192, 192, 192);
}

section {
    width: 210mm;
    height: 297mm;
    background-color: white;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}