.Charakterbogen__attribut {
  display: flex;
  gap: 10px;
  width: fit-content;
  border-radius: 7px;
  width: 50%;

  select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;

    border: 2px solid black;
    height: 50px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    font-size: 18px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h3 {
    margin-bottom: 0;
  }
}
