.Charakterbogen__attribut {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: fit-content;
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 1;
  background-color: black;
  border: 3px solid black;

  select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;

    border: none;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
  }

  label {
    display: block;
    font-size: 12px;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
  }
}
