@import "./attribute.css";
@import "./name.css";
@import "./inventory.css";
@import "./merkmal.css";

.Charakterbogen {
  section {
    display: grid;
    grid-template-columns: 3fr 5fr;
  }

  .Charakterbogen__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
  }
}
