.playbook__name {
  background-color: black;
  border-radius: 8px;
  padding: 3px;

  input {
    border: none;
    border-radius: 5px;
    font-size: 20px;
  }

  input:focus {
    outline: none;
  }

  label {
    padding: 0 5px;
  }
}
