h1,
h2,
h3 {
  font-family: "Faculty", sans-serif;
  margin-bottom: 10px;
  font-weight: 800;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.17em;
  margin-bottom: 10px;
}
