h1,
h2,
h3 {
  font-family: "Faculty", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.8em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.1em;
  margin-bottom: 5px;
}
