* {
  /* size */
  --size__navbar-height: 70px;
  --size__section-width: 1123px;
  --size__section-height: 794px;

  /* color */
  --color__background: white;
  --color__section: white;
  --color__text: black;
  --color__text--contrast: white;

  --color__navbar-text: black;
  --color__navbar-text--contrast: white;
  --color__navbar-text--hover: grey;

  --color__navbar-button-border: black;
  --color__navbar-button-1: black;
  --color__navbar-button-2: black;
}
