h1,
h2 {
  color: white;
  text-align: center;
  font-size: 1.4rem;
  background-color: rgb(71, 71, 71);

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  padding: 5px;
  padding-bottom: 3px;
  margin-bottom: var(--gap__medium);

  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    padding: 0 20px;
    font-size: 12px;
  }
}

h2 {
  font-size: 1.2rem;
}
