.ausruestung {
  display: flex;
  flex-direction: column;
  gap: var(--gap__medium);

  &__gepaeck {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      margin-left: 50px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap__small) var(--gap__big);

    div {
      display: grid;
      grid-template-columns: 1fr var(--size__value);
      gap: var(--gap__small);
    }
  }

  &__vorraete {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap__big);
    align-items: center;

    div {
      display: flex;
    }
  }
}
