.basics {
  display: flex;
  flex-direction: column;
  gap: var(--gap__small);

  &__name {
    display: grid;
    grid-template-columns: 12% 1fr;
    gap: var(--gap__small) var(--gap__big);
  }

  &__bottom {
    display: grid;
    grid-template-columns: 12% 1fr 1fr;
    gap: var(--gap__small) var(--gap__big);
    align-items: center;
  }

  input {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
  }
}
