.navbar__links {
  display: flex;
  gap: 20px;
  position: relative;
}

.navbar__link {
  position: relative;
  padding: 10px 0;

  a {
    padding: 0 30px;
    margin: 5px;

    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      var(--color__navbar-text--contrast),
      var(--color__navbar-text),
      var(--color__navbar-text--contrast)
    );

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color__navbar-text);
    cursor: pointer;
  }
}

a:visited {
  color: var(--color__navbar-text);
}

a:hover {
  opacity: 0.6;
}
