nav {
  width: 100%;
  height: var(--size__navbar-height);
  position: fixed;
  background: linear-gradient(
    to right,
    transparent,
    var(--c7) 10%,
    var(--c7) 90%,
    transparent
  );
  top: 0;
  z-index: 1000;

  .logo {
    fill: var(--color__navbar-text);
    height: 100%;
    aspect-ratio: 1;
  }
}

.navbar__content {
  height: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 15px 30px;
  margin: auto;
}

.navbar__links {
  display: flex;
  gap: 20px;
  position: relative;
}

.navbar__link {
  position: relative;
}

.navbar__submenu {
  display: none;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;

  background: var(--color__background);
  box-shadow: 0px 15px 5px 3px var(--color__background);
  padding: 5px;
  padding-top: 15px;

  a {
    display: block;
    color: var(--color__navbar-text);
    font-size: 0.9rem;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    border-width: 1px;
  }

  a:visited {
    color: var(--color__navbar-text);
  }

  a:hover {
    color: var(--color__navbar-text--hover);
  }
}

.navbar__link:hover .navbar__submenu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
