.rules {
  padding: 0;

  .section__grid {
    margin: 50px;
    margin-top: 20px;
  }

  h2 {
    padding: 30px 50px;
    background-color: black;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      fill: white;
      height: 2em;
      width: 2em;
    }
  }

  ul {
    padding-left: 30px;
    margin-top: 5px;
  }
}
