#rules {
  h2 {
    font-size: 20px;
    background-color: black;
    color: white;
    fill: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;

    svg {
      fill: white;
      height: 2em;
      width: 2em;
    }
  }

  ul {
    padding-left: 30px;
    margin-top: 5px;
  }
}
