.playbook__attributes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.playbook__attribute {
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 1;
  background-color: black;
  border: 3px solid black;

  select {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 5px;
    font-size: 18px;
  }

  label {
    width: 100%;
    text-align: center;
    color: white;
  }
}
