.playbook__attributes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.playbook__attribute {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 1;

  select {
    height: 100%;
    aspect-ratio: 1;
  }

  label {
    width: 100%;
    text-align: center;
  }
}
