.playbook__playbook-title {
  display: grid;
  grid-template-columns: 1fr auto 70px;
  align-items: center;
  width: 100%;
  background-color: black;
  padding-left: 5px;

  h2 {
    margin: 2px 0 0 10px;
    height: fit-content;
  }

  p {
    margin: 2px 10px;
  }

  input {
    text-align: center;
  }
}
