.playbook__title {
  display: grid;
  grid-template-columns: 1fr auto 70px;
  align-items: center;
  width: 100%;
  background-color: black;
  border-radius: 3px 8px 8px 3px;

  h2 {
    margin: 0;
    padding-left: 5px;
  }

  p {
    margin: 2px 10px 0 10px;
    padding: 0;
  }

  input {
    padding: 5px;
    text-align: center;
  }
}
