@import "input.scss";
@import "label.scss";
@import "section.scss";
@import "basics.scss";
@import "attribute.scss";
@import "talente.scss";
@import "ausruestung.scss";
@import "zustand.scss";

* {
  --color__text: rgb(0, 0, 0);
  --color__background: white;
  --size__value-box: 60px;
  --gap__small: 5px;
  --gap__medium: 15px;
  --gap__big: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color__text);
  scroll-behavior: smooth;
  background-color: grey;

  font-size: 15px;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  height: 1189px;
  width: 841px;
  margin: 0 auto;
  padding: 50px;
  background-color: var(--color__background);
}

h1 {
  color: white;
  background-color: rgb(71, 71, 71);
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  padding: 5px;
  padding-bottom: 3px;

  margin-bottom: 10px;

  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    padding: 0 20px;
    font-size: 12px;
  }
}

h2 {
  font-size: 1.5rem;
}

.invisible {
  display: none;
}

.text-center {
  text-align: center;
}
