@import "headings.scss";
@import "input.scss";
@import "label.scss";
@import "section.scss";
@import "basics.scss";
@import "fertigkeiten.scss";
@import "ausruestung.scss";

* {
  --color__text: rgb(0, 0, 0);
  --color__background: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  color: var(--color__text);
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  background-color: grey;
}

main {
  height: 1189px;
  width: 841px;
  margin: 0 auto;
  padding: 50px;
  background-color: var(--color__background);
}

.invisible {
  display: none;
}

.text-center {
  text-align: center;
}

.talente {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 50px;

  div {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0 10px;
  }
}
