.attribute {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap__small) 20px;

  div {
    display: grid;
    grid-template-columns: 1fr var(--size__value);
    align-items: center;
  }
}
