.attribute {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap__small) 20px;
  align-items: center;

  label {
    text-align: center;
  }

  input {
    margin: auto;
    text-align: center;
    width: var(--size__value-box);
  }
}
