.attribute {
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr auto;
  gap: var(--gap__small) var(--gap__big);
  align-items: center;
  justify-content: space-between;

  label {
    text-align: center;
  }

  input {
    margin: auto;
    text-align: center;
    justify-self: end;
    width: var(--size__value-box);
  }
}
