.ausruestung {
  display: flex;
  flex-direction: column;
  gap: var(--gap__medium);
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap__small) var(--gap__big);

  div {
    display: grid;
    grid-template-columns: 1fr var(--size__value);
    gap: 0 10px;
  }
}

.gepaeck {
  display: grid;
  grid-template-columns: 1fr 3fr;

  div {
    display: flex;
    justify-content: space-between;
  }
}

.vorraete {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }
}
