.load {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px var(--gap__main);

  label {
    text-align: center;
  }

  div {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .load__gepaeck {
    justify-content: space-between;
  }

  input {
    width: unset;
    min-height: 15px;
    aspect-ratio: 1;
  }
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 var(--gap__main);

  div {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0 10px;
  }
}
