.basics {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--gap__small) var(--gap__big);
  align-items: center;

  input {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
  }
}
