.basics {
  display: flex;
  flex-direction: column;
  gap: var(--gap__medium);
  align-items: center;

  &__top {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--gap__small) var(--gap__big);
    align-items: center;
  }

  &__bottom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap__small) var(--gap__big);
    align-items: center;
  }
}
