.fertigkeiten {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px 70px;

  div {
    display: grid;
    grid-template-columns: 1fr var(--size__value-box);
    align-items: center;
  }

  input {
    margin-bottom: 0;
    text-align: center;
  }
}
