@font-face {
  font-family: "Faculty";
  src: url("/assets/fonts/FacultyGlyphic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ModernAntiqua";
  src: url("/assets/fonts/ModernAntiqua-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OldPersian";
  src: url("/assets/fonts/NotoSansOldPersian-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
}
