h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(71, 71, 71);
    color: white;
    text-transform: uppercase;
    padding: 5px;
}

h2 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(71, 71, 71);
    color: white;
    text-transform: uppercase;
    padding: 5px;
}