.talente {
  display: grid;
  grid-template-columns: 1fr var(--size__value-box) auto;
  gap: 0 var(--gap__big);

  &__checkboxes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
