.checkbox {
  height: 90%;
  aspect-ratio: 1;
  border: 2px solid var(--color__text);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    display: none;
  }
}

.checkbox--checked {
  svg {
    display: block;
  }
}
