.karten {
  section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .karte {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 5.9cm;
    height: 9.1cm;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.1s ease;
    border: 2px solid black;

    p {
      margin-bottom: 10px;
      font-weight: bold;
    }

    ul {
      list-style-type: none;

      li {
        margin-bottom: 5px;
      }
    }
  }

  .karte__selected {
    border: 2px solid gold;
  }

  .karte:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .karten__selector {
    background-color: var(--color__selector-background);
    padding: 20px;
    border-radius: 4px;
    margin: 20px auto;
    width: 29.7cm;
    display: flex;
    gap: 20px;
    justify-content: end;
  }
}
