section {
  background-color: var(--color__section);
  height: var(--size__section-height);
  width: var(--size__section-width);
  margin: 15px auto;
  padding: 50px;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  counter-increment: pages 1;
}

section::after {
  content: counter(pages);
  color: var(--color__text--contrast);

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: var(--color__text);

  display: flex;
  align-items: center;
  justify-content: center;
}

.no-counter::after {
  display: none;
}

@media print {
  section {
    margin: 0 0 0 0;
  }
}

.section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.section__grid--3-colums {
  grid-template-columns: 1fr 1fr 1fr;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__grid--with-top-padding {
  padding-top: 50px;
}
