table {
  border-collapse: collapse;
}

table {
  width: 100%;
}

tr:first-child {
  background-color: black;
  color: white;
}

tr:nth-child(odd):not(:first-child) {
  background-color: #f2f2f2;
}

th,
td {
  border: none;
  text-align: left;
  padding: 5px;
  min-width: 50px;
}
